name = "xaostech-api"
compatibility_date = "2025-12-31"
main = "src/index.ts"
send_metrics = false

[env.production]
name = "xaostech-api"
main = "src/index.ts"
routes = [{ pattern = "api.xaostech.io/*", zone_name = "xaostech.io" }]

[env.production.vars]
ENABLE_RATE_LIMIT = "true"
RATE_LIMIT_REQUESTS = "100"
RATE_LIMIT_WINDOW = "60000"
ENABLE_WEBSOCKET = "true"

[[env.production.d1_databases]]
binding = "DB"
database_name = "api-db"
database_id = "${D1_API_DB_ID}"

[[env.production.kv_namespaces]]
binding = "MESSAGES_KV"
id = "${KV_MESSAGES_ID}"

[[env.production.kv_namespaces]]
binding = "SESSION"
id = "${KV_SESSIONS_ID}"

[env.production.ai]
binding = "AI"

[[env.testing.d1_databases]]
binding = "DB"
database_name = "api-db"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1