name = "xaostech-api"
compatibility_date = "2025-12-31"
main = "src/index.ts"

[vars]
ENABLE_RATE_LIMIT = "true"
RATE_LIMIT_REQUESTS = "100"
RATE_LIMIT_WINDOW = "60000"

[env.production]
routes = [{ pattern = "api.xaostech.io/*", zone_name = "xaostech.io" }]

[[env.production.d1_databases]]
binding = "DB"
database_name = "api-db"
